.bg-fb_hover {
    width: 20px; height: 20px;
    background: url('./img/social_sprites.png') -0 -0;
}

.bg-fb_icon {
    width: 20px; height: 20px;
    background: url('./img/social_sprites.png') -0 -20px;
}

.bg-mail_hover {
    width: 20px; height: 20px;
    background: url('./img/social_sprites.png') -0 -40px;
}

.bg-mail_icon {
    width: 20px; height: 20px;
    background: url('./img/social_sprites.png') -0 -60px;
}

.bg-tw_hover {
    width: 20px; height: 20px;
    background: url('./img/social_sprites.png') -0 -80px;
}

.bg-tw_icon {
    width: 20px; height: 20px;
    background: url('./img/social_sprites.png') -0 -100px;
}

.bg-vk_hover {
    width: 20px; height: 20px;
    background: url('./img/social_sprites.png') -0 -120px;
}

.bg-vk_icon {
    width: 20px; height: 20px;
    background: url('./img/social_sprites.png') -0 -140px;
}

.bg-home_icon {
    width: 17px; height: 15px;
    background: url('./img/nav_sprites.png') -0 -0;
}

.bg-home_icon_hover {
    width: 17px; height: 15px;
    background: url('./img/nav_sprites.png') -17px -0;
}

.bg-review_icon {
    width: 20px; height: 18px;
    background: url('./img/nav_sprites.png') -72px -0;
}

.bg-review_icon_hover {
    width: 20px; height: 18px;
    background: url('./img/nav_sprites.png') -92px -0;
}

.bg-tariff_icon {
    width: 19px; height: 16px;
    background: url('./img/nav_sprites.png') -34px -0;
}

.bg-tariff_icon_hover {
    width: 19px; height: 16px;
    background: url('./img/nav_sprites.png') -53px -0;
}